.scrollable {
    position: relative;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.sidebar {
    background: white;
    grid-row-start: 1;
    grid-row-end: span 3;
}

.content {
    background: white;
    grid-row-start: 1;
    grid-row-end: span 3;
}
